@import url("styles.css");


.dp{
    
    clip-path: circle();
}

.heading p{
    text-align: center;
    font-size: 3rem;
    font-family: 'SF Pro';
    font-weight: bold;
   
}
.sub-heading p{
    text-align: center;
    font-size: 1.2rem;
    color: darkgrey;
}
h4{
    font-weight: bold;
}

.orders{
    background-color:#F8F9FA;
    border-radius: 2rem;
}
.link-to-orders p{
    color: darkgrey;
}