/* Bootstrap css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css");

/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* SF Pro font */
@font-face {
    font-family: 'SF Pro'; /*a name to be used later*/
    src: url('../assets/fonts/SF.ttf'); /*URL to font*/
}

/* SF Pro font */
@font-face {
    font-family: 'Quicksand'; /*a name to be used later*/
    src: url('../assets/fonts/Quicksand.ttf'); /*URL to font*/
}

*{
    transition: 0.2s;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #050505;
    font-family: 'Quicksand', sans-serif;
}
p,input, select{
    font-family: 'SF Pro';
}
label{
    font-size: 1rem;
    font-family: 'SF Pro';
    margin-bottom: 0;
}
/* necesssary */
.font-sf-pro{
    font-family: 'SF Pro', sans-serif !important;
}
.font-quicksand{
    font-family: 'Quicksand', sans-serif !important;
}
.bg-brown{
    background-color: #87574b;
}
.bg-brown:hover{
    background-color: #87574b;
}
.text-white{
    color: white;
}
.hr{
    width: calc(40px + 5vw);
    height: 3px;
    background-color: #87574b;
}

/* Home page(index.php) */
.clear-search{
    cursor: pointer;
    text-decoration: none;
    color: #87574b;
    background-color: #87574b10;
    border-radius: 100px;
    font-size: 0.9rem;
}
.filter-icon-btn{
    color: #87574b;
    background-color: #87574b10;
}
.filter-btns input{
    background: transparent;
    border: solid 2px #87574b;
    border-radius: 3px;
    color: #87574b;
    margin-left: 5px;
}
.filter-btns input[type=submit]{
    color: white;
    background: #87574b;
}
.pagination a{
    color: #87574b;
}
.pagination a:hover{
    background-color: #87574b10;
    color: #87574b;
}
.pagination .active a{
    color: white !important;
    background-color: #87574b !important;
    border-color: #87574b !important;
}

/* landing */
.landing section{
    overflow: hidden;
}
.landing .round-1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25vw;
    width: 70vw;
    height: 70vw;
    background-color: #87574b20;
    clip-path: circle();
    z-index: -10;
}
.landing .shop-now-btn{
    cursor: pointer;
    background-color: #87574b;
    color: white;
    border: solid 2px #87574b;
    align-items: center;
    /* font-size: 1.2rem; */
}

.landing section .card{
    border: none;
    display: grid;
    align-items: center;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 30px;
    text-align: center;
}
.landing section .card i{
    font-size: 2rem;
    background-color: #eee;
    padding: 1.5rem;
    clip-path: circle();
}
.landing section .card-1 i{
    color: #48aeff;
}
.landing section .card-1:hover > .card-icon i{
    color: #eee;
    background-color: #48aeff;
}
.landing section .card-2 i{
    color: #ffa76e;
}
.landing section .card-2:hover > .card-icon i{
    color: #eee;
    background-color: #ffa76e;
}
.landing section .card-3 i{
    color: #e80368;
}
.landing section .card-3:hover > .card-icon i{
    color: #eee;
    background-color: #e80368;
}
.landing section .card h4{
    margin-top: 1.5rem;
    font-weight: 600;
}

.landing .hr{
    width: 100px;
    height: 3px;
    background-color: #87574b;
}

/* Sign-up form */
.form-main {
    margin: 1.5vw 16vw;
    /* margin: 5vw auto; */
    max-width: 1067px;
}

.form-main form {
    background: #ffff;
    padding: 2em;
    /* height: 400px; */
}

.form-head {
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.2em;
    font-weight: 400;
}

nav.vertical ul li {
    display: block;
}

.vertical-tab {
    color: #333;
    display: block;
    margin: auto;
    position: relative;
    float: left;
    /* width: 70%; */
}

.vertical-tab input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.vertical-tab .section {
    display: block;
}

.vertical-tab .section label {
    background: #fff;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    display: block;
    font-size: 17px;
    padding: 33px 20px;
    position: relative;
    width: 189px;
    z-index: 100;
    color: #111;
    text-align: center;
}

.vertical-tab .section article {
    display: none;
    left: 230px;
    min-width: 570px;
    position: absolute;
    top: 0;
}

.vertical-tab input[name="sections"]:checked+label {
    background: #87574b;
    border-right: 1px solid #000;
    color: #fff;
}

.vertical-tab input[name="sections"]:checked~article {
    display: block;
}

.input {
    margin-bottom: 1em;
    padding: 13px 15px;
    border: 1px solid #eee;
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input span {
    font-size: 15px;
    color: #464646;
    margin-right: 10px;
}

.input input {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.submit {
    margin: 2.3em auto 0;
    background: #87574b;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s all;
    display: block;
    color: #fff;
    padding: 14px 30px;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}

.submit:hover {
    color: #fff;
    opacity: .8;
    border-color: #87574b;
    border-radius: 10px;
    transition: 0.5s all;
}

a.forgot-pwd {
    color: #757474;
    font-size: 14px;
    display: inherit;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3.2em;
}

.clear {
    clear: both;
}

.login-footer {
    padding-top: 20%;
}