body{
    margin: 0;
    padding: 0%;
    justify-content: center;
    align-items: center;

}
h1{
    /* text-align: center; */
    padding: 2%;
    font-family: 'Roboto Slab', serif;
 
}
.card{
    margin: 0 auto; 
    position: relative;
}

.container .description{
    background-color: #EDE0D4;
    margin: 5%;
    border-radius: 1rem;
    width: 90%;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 3%;
}
.description .row{
    padding-bottom: 3%;
}
button{
    background-color: #B08968;
    border-radius: 2rem;
}
.related-items h3{
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}
.related-items p{
    font-weight: bold;
    color: darkgray;
}
.gif{
    border-color: darkgray;
    border-width: 3rem;
    
}
.gif p{
    text-align: center;
    font-size: 1.5rem;
    color: darkgray;
    font-family: 'Pacifico', cursive;
}