body{
    margin: 0;
    padding: 0%;
    justify-content: center;
    align-items: center;

}
h1{
    /* text-align: center; */
    padding: 2%;
    font-family: 'Quicksand';
    font-weight: bold;
 
}

.container-fluid .description{
    border-color: #B08968;
    border-width: 1rem;
    border-radius: 1rem;
    width: 90%;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 3%;
}
.description .row{
    padding-bottom: 3%;
}
.description button{
    background-color: #B08968;
    border-radius: 1rem;
    border: none;
}
.description button:hover{
    background-color: #b07d62;
   
}
.description .favourite button{
    background-color: none;
    border-color: #B08968;
}
.description input{
    width: 65%;
}
.about {
    background-color: #dee2e6;
  
}

.gif{
    border-color: darkgray;
    border-width: 3rem;
    
}
.gif p{
    text-align: center;
    font-size: 1.5rem;
    color: darkgray;
    font-family: 'Pacifico', cursive;
}